<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/css/evo-calendar.min.css"/>
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" style="color: white;"
                   class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">Data Aquaponics</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Home</label>
                    </li>
                    <li  
                        class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Aquaponics</span></a>
                    </li>
                   
                    <li class="nav-item pcoded-menu-caption">
                        <label>History our Data</label>
                    </li>
                  
                    <li 
                        class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
                        <a href="/ui-tables.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span>Data<span class="pcoded-mtext"></span></a>
                    </li>
                    <!--[*************************************************************-->
                    <!--[ FOR OPEN sERIAL-->
                    <!--[
                    <li class="nav-item pcoded-menu-caption">
                        <label>Data Serial</label>
                    </li>
                  
                    <li data-username="Charts Serial" 
                        class="nav-item {% if 'live' in segment %} active {% endif %}">
                        <a href="/live.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span>Charts For Data Serial<span class="pcoded-mtext"></span></a>
                    </li>
                -->
                    <li class="nav-item pcoded-menu-caption">
                        <label>Data Firebase</label>
                    </li>
                    <li data-username="Charts Morris" 
                        class="nav-item {% if 'charts-morris' in segment %} active {% endif %}">
                        <a href="/charts-morris.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Charts For Data Firebase</span></a></li>
              
                    <li class="nav-item pcoded-menu-caption">
                        <label>Pages</label>
                    </li>
                    <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/auth-reset-pass.html" class="">Reset Password</a></li>
                            <li class=""><a href="/login.html" class="">Login</a></li>
                            <li class=""><a href="/register.html" class="">Register</a></li>
                        </ul>
                    </li>
                        <li class="nav-item pcoded-menu-caption">
                            <label>Settings</label>
                        </li>
                        <li data-username="form elements advance componant validation masking wizard picker select" 
                            class="nav-item {% if 'ui-forms' in segment %} active {% endif %}">
                            <a href="/ui-forms.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Settings</span></a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>