{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/css/evo-calendar.min.css"/>
<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <!-- [ breadcrumb ] end -->
    <div class="main-body">
      <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <div class="row">
          <!--[ daily sales section ] start-->
          <div class="col-md-6 col-xl-4">
            <div class="card daily-sales">
              <div class="card-block">
                <h6 class="mb-4">Tempearture</h6>
                <div class="row d-flex align-items-center">
                  <div class="col-9">
                    <h3 class="f-w-300 d-flex align-items-center m-b-0">
                      {{result.Temperature.Data}}
                    </h3>
                  </div>

                  <div class="col-3 text-right" style="right: 20%;">
                    <img width="80px"  src="static/images/temperature.png">
                  </div>
                </div>
                <div class="progress m-t-30" style="height: 7px">
                  <div
                    class="progress-bar progress-c-theme2"
                    role="progressbar"
                    style="width: 100%"
                    aria-valuenow="35"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xl-4">
            <div class="card Monthly-sales">
              <div class="card-block">
                <h6 class="mb-4">Humidity</h6>
                <div class="row d-flex align-items-center">
                  <div class="col-9">
                    <h3 class="f-w-300 d-flex align-items-center m-b-0">
                      {{result.Humidity.Data}}
                    </h3>
                  </div>
                  <div class="col-3 text-right" style="right: 20%;">
                    <img width="70px"  src="static/images/humidity.png">
                  </div>
                </div>
                <div class="progress m-t-30" style="height: 7px">
                  <div
                    class="progress-bar progress-c-theme"
                    role="progressbar"
                    style="width: 100%"
                    aria-valuenow="70"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <!--[ Monthly  sales section ] end-->
          <!--[ year  sales section ] starts-->
          <div class="col-md-12 col-xl-4">
            <div class="card yearly-sales">
              <div class="card-block">
                <h6 class="mb-4">Water Tempearture</h6>
                <div class="row d-flex align-items-center">
                  <div class="col-9">
                    <h3 class="f-w-300 d-flex align-items-center m-b-0">
                      {{result.WaterTemp.Data}}
                    </h3>
                  </div>
                  <div class="col-3 text-right" style="right: 20%;">
                    <img width="70px"  src="static/images/tempeau.png">
                  </div>
                </div>
                <div class="progress m-t-30" style="height: 7px">
                  <div
                    class="progress-bar progress-c-theme2"
                    role="progressbar"
                    style="width: 100%"
                    aria-valuenow="35"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-xl-4">
            <div class="card yearly-sales">
              <div class="card-block">
                <h6 class="mb-4">pH</h6>
                <div class="row d-flex align-items-center">
                  <div class="col-9">
                    <h3 class="f-w-300 d-flex align-items-center m-b-0">
                      {{result.pH.Data}}
                    </h3>
                  </div>
                  <div class="col-3 text-right" style="right: 15%;">
                    <img width="70px" height="70px" src="static/images/pH.png">
                  </div>
                </div>
                <div class="progress m-t-30" style="height: 7px">
                  <div
                    class="progress-bar progress-c-theme"
                    role="progressbar"
                    style="width: 100%"
                    aria-valuenow="70"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
