{% extends "layouts/base.html" %} {% block title %} Charts {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<link
  rel="stylesheet"
  href="/static/assets/plugins/chart-morris/css/morris.css"
/>

{% endblock stylesheets %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'font-awesome.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/css/evo-calendar.min.css"/>
    <script src="{% static 'bootstrap.min.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>
		<body>
			<div class="container">
			  <center><h1>The Aquaponics Database </h1></center>
			  <div class="row d-flex justify-content-center">
				<div class="col-sm-4">
					<input id="datepicker" width="270" />
				</div>
				<div class="col-md-4">
				  <input
					value="Submit"
					type="submit"
					name="submit"
					id="btn_show_chart1"
					class="btn btn-primary"
				  />
				</div>
				<br />
      			<hr />
				  {% autoescape off %}
				  <div style="width:600;height:500" class="row" id="graph"></div>
				  {{ graph|safe }}
			  </div>
  {% endautoescape %}
			</div>
			<script>
    $("#btn_show_chart1").click(function () {
      date=$("#datepicker").val();
      $.ajax({
          type: "GET",
          url: "{% url 'app:read' %}",
		  data:{
			  date:date
		  },
          success: function (data) {
			console.log("dps 1 : "+JSON.stringify(data) );
			  if(Object.keys(data).length === 0 && data.constructor === Object){
				$('#graph').html("") 
			  }else{
				$('#graph').html(data["my_data"])
			  }
          },
          error: function () {
          },
        });
    });
				$('#datepicker').datepicker({
					uiLibrary: 'bootstrap'
				});
			</script>  
		  </body>
</html>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
<script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>
<script src="/static/assets/js/pages/chart-morris-custom.js"></script>

{% endblock javascripts %}
